<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm Phụ Tùng</title>
  <link rel="stylesheet" href="/static/css/dangnhap.css">

</head>

<body>
<div class="container">
  <h2>Thêm Phụ Tùng</h2>
  <form id="addpt">
    <label for="tenpt">Tên:</label>
    <input type="text" id="tenpt" name="tenpt" required>
    <label for="mota">Mô Tả:</label>
    <input type="text" id="mota" name="mota" required>
    <button type="submit">Thêm</button>
  </form>
</div>

<script src="/static/js/addpt.js"></script>

</body>

</html>