<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng ký </title>
  <link rel="stylesheet" href="/static/css/dangky.css">

</head>

<body>
<div class="container">
  <h2>Đăng ký</h2>
  <form id="singupForm">
    <label for="hoten">Họ tên:</label>
    <input type="text" id="hoten" name="hoten" required>
    <label for="sdt">Số điện thoại:</label>
    <input type="text" id="sdt" name="sdt" required>
    <label for="dchi">Địa chỉ:</label>
    <input type="text" id="dchi" name="dchi" required>
    <label for="username">Tài Khoản:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Mật Khẩu:</label>
    <input type="password" id="password" name="password" required>
    <label for="cfpassword">Xác Nhận Mật Khẩu:</label>
    <input type="password" id="cfpassword" name="cfpassword" required>
    <div id="passwordError" class="error" style="display: none;color:red ; margin-bottom: 25px " >Xác Nhận Mật Khẩu Không Hợp Lệ</div>
    <button type="submit">Đăng ký</button>
  </form>
  <a href="/dangnhap">Bạn đã có tài khoản?Đăng nhập</a>
</div>

<script src="/static/js/dangky.js"></script>
</body>

</html>