<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tìm Phụ Tùng</title>
  <link rel="stylesheet" href="/static/css/phutung.css">
</head>

<body>
<div class="container">
<!--  <form id="nhapphutung">-->
  <h2>Tìm Phụ Tùng</h2>
  <label for="tenpt">Nhập Tên Phụ Tùng:</label>
  <input type="text" id="tenpt" name="tenpt">
  <button id="timPt">Tìm</button>
  <button onclick="addPhuTung()">Thêm Phụ Tùng</button>

  <table id="PhuTungTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Mô Tả</th>
    </tr>
    </thead>
    <tbody id="PhuTungTableBody">

    </tbody>
  </table>
  <div style="display: flex; flex-direction: column;">
    <div style="display: flex; margin-top: 50px; justify-content: space-around;">
      <label for="gia">Giá($):</label>
      <input type="text" id="gia" name="gia">
    </div>
    <div style="display: flex;  justify-content: space-around;">
      <label for="soluong">Số Lượng:</label>
      <input style="margin-right: 20px;" type="text" id="soluong" name="soluong">
    </div>

    <div style=" display: flex ; justify-content: space-around">
      <button type="button"  style="width: 85px;
            height: 30px;" id="confirm">Xác Nhận</button>
    </div>

    <button onclick="xong()"  style="width: 85px;
            height: 30px;" id="done" >Xong</button>

  </div>
<!--  </form>-->
</div>
<script src="/static/js/phutung.js"></script>
<script>
  function addPhuTung(){
    window.location.href="/addpt" ;
  }
  // function xong(){
  //   window.location.href="/hoadonnhap" ;
  // }


</script>
</body>

</html>