<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập </title>
    <link rel="stylesheet" href="/static/css/dangnhap.css">

</head>

<body>
<div class="container">
    <h2>Đăng nhập</h2>
    <form id="loginForm">
        <label for="username">Tài Khoản:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Mật Khẩu:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Đăng nhập</button>
    </form>
    <a href="/dangky">Bạn chưa có tài khoản? Đăng kí ngay</a>
</div>

<script src="/static/js/dangnhap.js"></script>
</body>

</html>